@font-face {
  font-family: "Dubai";
  src: url("./assets/fonts/ot_ttf/Dubai-Medium.ttf")format('ttf');
}
*{
  margin: 0;
  padding: 0;
  /* font-family: "Dubai"; */
}

.video-background {
  height: 100vh;
  overflow: hidden;
  background-image: url('./assets/ui.png');
  background-size: cover;
  background-color: #175376;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  margin: auto;
}
.h-100v{
  height: 100vh;
}
.w-100v {
  height: 100vw;
}

.list-none{
  list-style: none;
}
.image-background{
background-color: #E0E7D9;
background-image: url('./assets/ui.png');
background-repeat:no-repeat;
width: 100%;
background-size: contain;
}
.min-h{
  min-height: 6.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.header-bg{
  background: #FECE7F !important;
}

.logo-size{
  width: 10em;
}

.activation-title{
  font-weight: 400;
  /* font-family: 'Dubai'; */
  font-size: 3rem;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
  justify-content: space-around !important;
}

.h4 , .h5{
  font-size: 4rem !important;
  text-transform: lowercase;
  color: #FFFFFF !important;
}

.cont-ui-spacing{
  margin-top: 28rem;
  margin-left: 16rem !important;
}
.score-spacing{
  margin-bottom: 9.9rem;
}
.first-score-style{
  position: absolute;
  top: 15.5%;
  left: 43%;
  color: #FFDD4F;
}
.first-name-style{
  position: absolute;
  top: 18.5%;
  left: 37%;
  color: #FFDD4F;

}